html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

nav,
footer,
header {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  color: #000000;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background-color: #000;
  background-image: url('./images/Pattern.png');
  user-select: none;
}

.title {
  font-size: 30px;
  line-height: 36px;

}

.container {
  width: 320px;
  margin: 0 auto;
}


@media (min-width: 700px) {
  .container {
    width: 700px;
    padding: 0 20px;
  }
}

@media (min-width: 1100px) {
  .container {
    width: 100%;
    max-width: 1300px;
  }
}